---
import { Image } from 'astro:assets';
import emailLogo from '../assets/aside-logos/email.png'
import phoneLogo from '../assets/aside-logos/phone.png'
import mapLogo from '../assets/aside-logos/map.png'
import calendarLogo from '../assets/aside-logos/calendar.png'
import facebookLogo from '../assets/social-logos/facebook.png'
import twitterLogo from '../assets/social-logos/twitter.png'
import instagramLogo from '../assets/social-logos/instagram.png'
import githubLogo from '../assets/social-logos/github.png'
import linkedinLogo from '../assets/social-logos/linkedin.png'

const content = {
  title: 'Richard hanrick',
  description: 'Web developer',
  email: 'richard@example.com',
  phone: '+1 (213) 352-2795',
  birthday: 'June 23, 1982',
  location: 'Sacramento, California, USA',
}
---

<aside class="sidebar" data-sidebar>

  <div class="sidebar-info">

    <figure class="avatar-box">
      <img src='/assets/images/my-avatar.png ' alt='Avatar image'>
    </figure>

    <div class="info-content">
      <h1 class="name">{content.title}</h1>

      <p class="title">{content.description}</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>

  </div>

  <div class="sidebar-info_more">

    <div class="separator"></div>

    <ul class="contacts-list">

      <li class="contact-item">

        <div class="icon-box">
          <img src='/assets/aside-logos/email.png' alt='' width={40}></img>
        </div>

        <div class="contact-info">
          <p class="contact-title">Email</p>

          <a href="mailto:richard@example.com" class="contact-link">{content.email}</a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <img src='/assets/aside-logos/phone.png' alt='' width={35}></img>
        </div>

        <div class="contact-info">
          <p class="contact-title">Phone</p>

          <a href="tel:+12133522795" class="contact-link">{content.phone}</a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <img src='/assets/aside-logos/calendar.png' alt='' width={35}></img>
        </div>

        <div class="contact-info">
          <p class="contact-title">Birthday</p>

          <time datetime="1982-06-23">{content.birthday}</time>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <img src='/assets/aside-logos/map.png' alt=''width={35}></img>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>

          <address>{content.location}</address>
        </div>

      </li>

    </ul>

    <div class="separator"></div>

    <ul class="social-list">

      <li class="social-item">
        <a href="#" class="social-link">
          <img src='/assets/social-logos/facebook.png' alt='' width={20}></img>
        </a>
      </li>

      <li class="social-item">
        <a href="#" class="social-link">
          <img src='/assets/social-logos/facebook.png' alt='' width={20}></img>
        </a>
      </li>

      <li class="social-item">
        <a href="#" class="social-link">
          <img src='/assets/social-logos/facebook.png' alt='' width={20}></img>
        </a>
      </li>

      <li class="social-item">
        <a href="#" class="social-link">
          <img src='/assets/social-logos/facebook.png' alt='' width={20}></img>
        </a>
      </li>

      <li class="social-item">
        <a href="#" class="social-link">
          <img src='/assets/social-logos/facebook.png' alt='' width={20}></img>
        </a>
      </li>

    </ul>

  </div>

</aside>