---
const content = {
  title: 'Richard hanrick',
  description: 'Web developer',
  email: 'richard@example.com',
  phone: '+1 (213) 352-2795',
  birthday: 'June 23, 1982',
  location: 'Sacramento, California, USA',
}
---

<aside class="sidebar" data-sidebar>

  <div class="sidebar-info">

    <figure class="avatar-box">
      <img src='/assets/images/my-avatar.webp ' alt='Avatar image'>
    </figure>

    <div class="info-content">
      <h1 class="name">{content.title}</h1>

      <p class="title">{content.description}</p>
    </div>

    <button class="info_more-btn" aria-label="Expand information" data-sidebar-btn>
      <span>Show Contacts</span>

      <img src="/assets/icons/arrow-down.webp" width="15px" alt="arrow-down icon">
    </button>

  </div>

  <div class="sidebar-info_more">

    <div class="separator"></div>

    <ul class="contacts-list">

      <li class="contact-item">

        <div class="icon-box">
          <img src='/assets/aside-logos/email.webp' alt='' width={30}></img>
        </div>

        <div class="contact-info">
          <p class="contact-title">Email</p>

          <a href="mailto:richard@example.com" class="contact-link">{content.email}</a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <img src='/assets/aside-logos/phone.webp' alt='' width={30}></img>
        </div>

        <div class="contact-info">
          <p class="contact-title">Phone</p>

          <a href="tel:+12133522795" class="contact-link">{content.phone}</a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <img src='/assets/aside-logos/calendar.webp' alt='' width={30}></img>
        </div>

        <div class="contact-info">
          <p class="contact-title">Birthday</p>

          <time datetime="1982-06-23">{content.birthday}</time>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <img src='/assets/aside-logos/map.webp' alt=''width={30}></img>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>

          <address>{content.location}</address>
        </div>

      </li>

    </ul>

    <div class="separator"></div>

    <ul class="social-list">

      <li class="social-item">
        <a href="#" class="social-link">
          <img src='/assets/social-logos/facebook.webp' alt='facebook logo' width={20}></img>
        </a>
      </li>

      <li class="social-item">
        <a href="#" class="social-link">
          <img src='/assets/social-logos/twitter.webp' alt='twitter logo' width={20}></img>
        </a>
      </li>

      <li class="social-item">
        <a href="#" class="social-link">
          <img src='/assets/social-logos/instagram.webp' alt='instagram logo' width={20}></img>
        </a>
      </li>

      <li class="social-item">
        <a href="#" class="social-link">
          <img src='/assets/social-logos/github.webp' alt='github logo' width={20}></img>
        </a>
      </li>

      <li class="social-item">
        <a href="#" class="social-link">
          <img src='/assets/social-logos/linkedin.webp' alt='linkedin logo' width={20}></img>
        </a>
      </li>

    </ul>

  </div>

</aside>