---
import { Image } from 'astro:assets'
import logoClient1 from '../assets/images/logo-1-color.png'
import logoClient2 from '../assets/images/logo-2-color.png'
import logoClient3 from '../assets/images/logo-3-color.png'
import logoClient4 from '../assets/images/logo-4-color.png'
import logoClient5 from '../assets/images/logo-5-color.png'
import logoClient6 from '../assets/images/logo-6-color.png'
---

<section class="clients">

  <h3 class="h3 clients-title">Clients</h3>

  <ul class="clients-list has-scrollbar">

    <li class="clients-item">
      <a href="#">
        <Image src={logoClient1} alt="client logo">
      </a>
    </li>

    <li class="clients-item">
      <a href="#">
        <Image src={logoClient2} alt="client logo">
      </a>
    </li>

    <li class="clients-item">
      <a href="#">
        <Image src={logoClient3} alt="client logo">
      </a>
    </li>

    <li class="clients-item">
      <a href="#">
        <Image src={logoClient4} alt="client logo">
      </a>
    </li>

    <li class="clients-item">
      <a href="#">
        <Image src={logoClient5} alt="client logo">
      </a>
    </li>

    <li class="clients-item">
      <a href="#">
        <Image src={logoClient6} alt="client logo">
      </a>
    </li>

  </ul>

</section>